.modal.js-modal
	.modal__in
		.modal__close.icon.icon-close.js-modal-close
		.modal__title Понравилось это предложение?
		.modal__content
			.modal__text Мы расскажем Вам все об этом товаре, предложим наилучшие условия и ознакомим с подходящими акционными предложениями!
			form.modal__form.form(action='#')
				.form__field
					input.modal__input.form__input(type='text' placeholder='Ваше имя' name='' data-validation='required')
				.form__field
					input.modal__input.form__input.js-phone-mask(type='text' placeholder='+7 XXX XXX XX XX' name='' data-validation='required')
				.form__last
					button.form__submit.btn-red(type='submit') перезвонить мне
				p.modal__desc.form__desc Мы перезвоним вам в течении 15 минут для уточнения подробностей