extend includes/_layout
block title
	title Здоров - прополисный эликсир
block content
	.one.section.section_1
		button.recall-btn.js-init-modal(type='button' data-href='modal_call') Получить обратный бесплатный звонок
		.container
			.one__row
				p.one__row-left Запах изо рта?<br> Боли в животе?<br> Изжога после еды?
				p.one__row-right
					| Это&nbsp;
					span.one__row-right-color гастрит!
			.one__block
				p.one__block-text
					| Избавьтесь от него всего за&nbsp;
					span.one__block-text-color 1 курс лечения!
				p.one__block-text
					| Спасите себя от&nbsp;
					span.one__block-text-color РАКА
					| &nbsp;желудка!
				p.one__block-text
					| С помощью прополисного эликсира&nbsp;
					span.one__block-text-color ЗДОРОВ.
			ul.one__list
				li.one__list-item Без побочных действий
				li.one__list-item Устраняет причину заболевания
				li.one__list-item Снимает боль на 3-й день применения
			.one__product.product
				img.product__img(src='img/content/product.png' alt='image')
			.one__block2
				p.one__block2-title Поздравляем!
				p.one__block2-text Вы – тысячный покупатель.
				p.one__block2-text
					| В честь этого мы дарим Вам&nbsp;
					span.one__block2-text-color 70% скидку.
			//begin count
			.one__count.count.js-counter(data-hour='2' data-min='55')
			//end count
			.one__last
				//begin arrow
				.one__last-arrow.arrow
					| Успейте заказать со&nbsp;
					span.arrow__color скидкой
				//end arrow
				button.one__last-btn.btn-red.js-scroll-btn(type='button') получить скидку
				//begin price
				.one__price.price
					p.price__now
						| 990&nbsp;
						span.price__sup руб
					p.price__before
						| 3300&nbsp;
						span.price__sup руб
				//end price

	.two.section.section_2
		.container
			p.two__title Проверьте себя!
			p.two__subtitle Есть ли у Вас следующие признаки?
			.two__row
				.two__col
					img.two__img(src='img/content/doctor.jpg' alt='image')
				.two__col
					ul.two__list
						li.two__list-item Боль и тяжесть в области живота
						li.two__list-item Изжога
						li.two__list-item Отрыжка
						li.two__list-item Рвота
						li.two__list-item Понос и/или запор
						li.two__list-item Вздутие
						li.two__list-item Метеоризм (отхождение газов)
						li.two__list-item Неприятный запах изо рта
					.two__block
						p.two__block-sm
							| Нашли у себя&nbsp;
							span.two__block-sm-color 1 и более
							| &nbsp;признаков?
						p.two__block-lg
							span.two__block-lg-color Срочно
							| &nbsp;начните лечение!

	.three.section.section_3
		.three__container.container
			p.three__title
				| Откуда у Вас появился гастрит?&nbsp;<br>
				span.three__title-color 5 причин гибели
				| &nbsp;Вашего желудка!
			.three__row.js-slider
				.three__item
					.three__image
						img.three__img(src='img/content/three-1.png' alt='image')
					p.three__text Воздействие на стенки желудка бактерий Helicobacter pylori. У 80% больных обнаружены эти бактерии.
				.three__item
					.three__image
						img.three__img(src='img/content/three-2.png' alt='image')
					p.three__text Нарушение питания. Установлено, что нерациональное питание, является частой причиной гастритов.
				.three__item
					.three__image
						img.three__img(src='img/content/three-3.png' alt='image')
					p.three__text Злоупотребление алкоголем. Большое количество алкоголя провоцирует дисбаланс кислотно-щелочного равновесия в организме.
				.three__item
					.three__image
						img.three__img(src='img/content/three-4.png' alt='image')
					p.three__text Хронический стресс. Научно доказано, что при каждом проявлении стресса выделяется большое количество желудочного сока.
				.three__item
					.three__image
						img.three__img(src='img/content/three-5.png' alt='image')
					p.three__text Употребление антибиотиков. Разрушает микрофлору желудка.

	.four.section.section_4
		.container
			p.four__title
				| Что будет, если не начать лечение гастрита&nbsp;
				span.four__title-color вовремя?
			.four__row.js-slider
				.four__item
					.four__item-image
						img.four__item-img(src='img/content/four-1.jpg' alt='image')
					p.four__item-text ЯЗВА
				.four__item
					.four__item-image
						img.four__item-img(src='img/content/four-2.jpg' alt='image')
					.four__item-text РАК
				.four__item
					.four__item-image
						img.four__item-img(src='img/content/four-3.jpg' alt='image')
					p.four__item-text ВНУТРЕННИЕ КРОВОТОЧЕНИЯ
				.four__item
					.four__item-image
						img.four__item-img(src='img/content/four-4.jpg' alt='image')
					p.four__item-text ПАНКРЕАТИТ
				.four__item
					.four__item-image
						img.four__item-img(src='img/content/four-5.jpg' alt='image')
					p.four__item-text В12 – ДЕФИЦИТНАЯ АНЕМИЯ
			p.four__text-lg Задумайтесь!
			p.four__text-center От злокачественных опухолей каждый год умирают тысячи людей.  <br>Каждый пятый случай рака в России – именно по линии гастроэнтерологии. <br>Не доводите до этого!
			button.four__btn-red.btn-red.js-scroll-btn(type='button') начать лечение прямо сейчас

	.five.section.section_5
		.five__container.container
			p.five__title Почему прополисный эликсир
			p.five__title-2 ЗДОРОВ рекомендован всем?
			p.five__title-3 100% натуральный состав – безопасное лечение гастрита.
			.five__row.js-slider
				.five__item.is-first
					.five__item-image
						img.five__item-img(src='img/content/five-1.png' alt='image')
					.five__item-content
						p.five__item-title Прополис
						p.five__item-text Обладает выраженным ранозаживляющим, противовоспалительным и противомикробным действием. Уничтожает клетки Хеликобактер пилори и при этом быстро заживляет внутренние повреждения слизистой желудка.
				.five__item.is-second
					.five__item-image
						img.five__item-img(src='img/content/five-2.png' alt='image')
					.five__item-content
						p.five__item-title Льняное масло
						p.five__item-text Обволакивает желудок, устраняя болевой синдром, оказывает заживляющее и регенерирующее воздействие на слизистую. Льняное масло успешно применяется при гастрите как с повышенной, так и с пониженной кислотностью.
				.five__item
					.five__item-image
						img.five__item-img(src='img/content/five-3.png' alt='image')
					.five__item-content
						p.five__item-title Витамин Е
						p.five__item-text Нормализует кислотность желудка, подавляет развитие атипичных клеток, которые приводят к возникновению онкологических заболеваний. Как приятный бонус — омолаживает и улучшает состояние кожи
				.five__item
					.five__item-image
						img.five__item-img(src='img/content/five-4.png' alt='image')
					.five__item-content
						p.five__item-title Витамин А
						p.five__item-text Предотвращает инфекционные заболевания, которые угрожают эрозированной и воспаленной слизистой желудка при гастрите. Укрепляет местный иммунитет и ускоряет процесс выздоровления
		.five__el
			p.five__el-text Если у Вас гастрит, вы с легкостью можете <br>выбрать прополисный эликсир ЗДОРОВ. <br>У него нет побочных действий <br>и противопоказаний.
			p.five__el-bold Препарат также рекомендован беременным <br>и детям в любом возрасте.

	.six.section.section_6
		.container
			p.six__title
				span.six__title-color Лечебные свойства
				| &nbsp;медицинского препарата ЗДОРОВ
			ul.six__list
				li.six__list-item Быстро снимает любые виды болей. Боль уходит на 3-й день применения.
				li.six__list-item Устраняет бактерии Helicobacter pylori.
				li.six__list-item Моментально убирает изжогу, отрыжку, кислый привкус, жжение и другие неприятные ощущения.
				li.six__list-item Улучшает работу всех органов ЖКТ, аппетит, пищеварение, выработку желудочного сока.
				li.six__list-item Обладает противовоспалительным, спазмолитическим, желчегонным и «мягким» слабительным действием.
				li.six__list-item Нормализует секрецию желудочных и кишечных ферментов.
				li.six__list-item Ускоряет регенерацию слизистой оболочки желудка (быстрее заживают язвы, проходит гастрит).
				li.six__list-item Способствует наиболее полному усвоению и расщеплению питательных веществ, улучшает метаболизм.
				li.six__list-item Предотвращает РАК желудка и другие осложнения заболевания.

	.seven.section.section_7
		.container
			p.seven__title
				span.seven__title-color Мнение
				| &nbsp;научного общества гастроэнтерологов России
			.seven__el
				.seven__el-image
					img.seven__el-img(src='img/content/seven-doctor.jpg' alt='image')
				.seven__el-content
					p.seven__text Гастрит по праву считается болезнью века. Данное негативное состояние слизистой желудка ежегодно диагностируется у сотен миллионов человек, преимуществен в возрасте от тридцати лет и старше.
					p.seven__text Гастриты бывают разные! В первые разы, данное заболевание чаще всего протекает в острой фазе, при неправильном лечении перерастает в РАК желудка. Примечательно, что у большого числа обращающихся с проблемой, симптомы гастрита проявляются лишь на поздних стадиях, что во многом усложняет лечение.
					p.seven__text Что касается прополисного эликсира ЗДОРОВ от гастрита, то ситуация складывается следующая: это натуральный препарат, который служит не  только для профилактики, но и для эффективного лечения гастрита и его осложнений. У него нет побочных действий и противопоказаний, что выделяет его среди препаратов схожего действия. Мы рекомендуем начинать лечение при первых признаках гастрита. Препарат ЗДОРОВ является лучшим средством для лечения гастрита среди аналогов.
			.text-center
				button.seven__btn-red.btn-red.js-scroll-btn(type='button') Получить бесплатную консультацию специалиста

	.eight.section.section_8
		.container
			p.eight__title
				span.eight__title-color Отзывы
				| &nbsp;клиентов
			.eight__comment
				.comment
					.comment__image
						img.comment__img(src='img/content/comment-1.jpg' alt='image')
					.comment__content
						p.comment__title Карина Титова, бухгалтер, 37 лет. Г. Тамбов.
						p.comment__text Сколько лет я читала о всяких диетах и методах лечения гастрита, чтобы получить ответ, как же от него избавиться, пока в один прекрасный момент частые приступы гастрита спровоцировали язву и мне ничего не оставалось делать, как пойти на прием к нормальному гастроэнтерологу. И как ни странно, на этот раз решение проблемы оказалось очень простым: я пропила 2 недели выписанный мне прополисный эликсир Здоров против хеликобактер пилори, и не вспоминаю об ужасных ночным болях при обострении язвы уже три года. До этого былы постоянные сезонные приступы гастрита, потом еще и язва присоединилась.
				.comment
					.comment__image
						img.comment__img(src='img/content/comment-2.jpg' alt='image')
					.comment__content
						p.comment__title Андрей Грязнов, спасатель. 44 года. Г. Тверь.
						p.comment__text Я не знаю, какая стадия была у меня, но я вылечил гастрит сам. Хотя долго ничего не получалось. Сам спасал людей, а меня спас препарат Здоров. Долго мучился с болями в животе, а жена жаловалась на запах изо рта. После курса Здоров все прошло. Даже прилив сил появился.
				.comment
					.comment__image
						img.comment__img(src='img/content/comment-3.jpg' alt='image')
					.comment__content
						p.comment__title Ирина Ольховская, парикмахер. 57 лет. Г. Москва.
						p.comment__text Замучила изжога.После проведения ФГДС ,поставлен диагноз гастро-эзофагит,без эзофагита,поверхностый очаговый гастрит. Заброс желчи в желудок. Навыписывали кучу антибиотиков, но я уже на это не пошла. И так с органзимом непонятно, что. Подруга с похожей проблемой посоветовала Здоров. И через месяц я уже была как новенькая. Ни болей, ни изжоги, ни тошноты, в общем состояние обычного здорового человека.
	.nine.section.section_9
		.container
			p.nine__title
				| Как гарантировано&nbsp;
				br
				span.nine__title-color избавиться
				| &nbsp;от гастрита?
			.nine__row.js-slider
				.nine__item
					.nine__item-image
						img.nine__item-img(src='img/content/nine-1.jpg' alt='image')
					.nine__item-text Принимайте прополисный эликсир натощак по 25-30 капель утром и вечером
				.nine__item
					.nine__item-image
						img.nine__item-img(src='img/content/nine-2.jpg' alt='image')
					.nine__item-text Придерживайтесь лечебной диеты
				.nine__item
					.nine__item-image
						img.nine__item-img(src='img/content/nine-3.jpg' alt='image')
					.nine__item-text Избегайтесь провоцирующих гастрит факторов (алкоголь, курение, стрессы и т.д.)
				.nine__item
					.nine__item-image
						img.nine__item-img(src='img/content/nine-4.jpg' alt='image')
					.nine__item-text После 1 курса лечения Вы избавитесь от боли в животе, изжоги, отрыжки и неприятного запаха изо рта. Насладитесь жизнью без гастрита!

	.ten.section.section_10
		.container
			p.ten__title
				| Избавьтесь от&nbsp;
				span.ten__title-color боли!&nbsp;
				br
				span.ten__title-md Вылечите гастрит раз и навсегда!&nbsp;
				br
				span.ten__title-sm С помощью прополисного эликсира&nbsp;
				span.ten__title-color2 ЗДОРОВ.
			.ten__row
				.ten__item
					.ten__item-image
					.ten__item-text Рекомендовано Научным Обществом Гастроэнтерологов России
				.ten__item
					.ten__item-image
					.ten__item-text Безопасное средство от гастрита
				.ten__item
					.ten__item-image
					.ten__item-text Гарантия качества
			.product
				img.product__img(src='img/content/product.png' alt='image')
			.ten__row2
				.ten__col2
					.ten__title2
						| Получить&nbsp;
						span.ten__title2-color 70% скидку
					form.ten__form.form(action='#')
						.form__field
							input.form__input(type='text' placeholder='Россия' name='' data-validation='required')
						.form__field
							input.form__input(type='text' placeholder='ФИО' name='' data-validation='required')
						.form__field
							input.form__input.js-phone-mask(type='text' placeholder='+7 XXX XXX XX XX' name='' data-validation='required')
						.text-center
							//begin count
							.form__count.count.count_form.js-counter(data-hour='2' data-min='55')
							//end count
						.form__last
							//begin arrow
							.form__last-arrow.arrow
								| Успейте заказать со&nbsp;
								span.arrow__color скидкой
							//end arrow
							button.form__submit.btn-red(type='submit') получить скидку
						p.form__desc Мы перезвоним вам в течении 15 минут для уточнения подробностей заказа
				.ten__col2
					.one__block2.one__block2_ten
						p.one__block2-title Поздравляем!
						p.one__block2-text Вы – тысячный покупатель.
						p.one__block2-text
							| В честь этого мы дарим <br>Вам&nbsp;
							span.one__block2-text-color 70% скидку.
					//begin price
					.ten__price.price
						p.price__now
							| 990&nbsp;
							span.price__sup руб
						p.price__before
							| 3300&nbsp;
							span.price__sup руб
					//end price